@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Prata&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-size: 1.2rem;
  color: #393d41;
}

header {
  background-color: black;
}
header img {
  width: 150px;
}

#sezione1 {
  background-image: url(../images/banner.jpg);
  text-align: center;
  padding: 100px 470px 50px 470px;
  line-height: 25px;
  height: 200px;
}
#sezione1 h1 {
  color: #25a2c3;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2rem;
}
.button {
  background-color: #f04c2f;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 2px;
  height: 35px;
}

#sezione2 {
  padding: 200px 0 200px 0;
  line-height: 25px;
}

#sezione2 p {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.titolo2 h2 {
  text-align: center;
  color: #25a2c3;
  font-weight: bolder;
}

.notebook {
  border-radius: 50%;
  padding-bottom: 30px;
}

#sezione4 {
  padding: 50px 60px 60px 50px;
  line-height: 25px;
  text-align: center;
  background-color: #e22d0e;
  color: white;
}

.titolo1 h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}
.titolo1 p {
  font-style: oblique;
  padding-bottom: 20px;
}
#sezione4 span {
  font-size: small;
}
#aside figure {
  display: inline-block;
}
#aside h1 {
  text-align: center;
  color: #31bae0;
  font-weight: bold;
}
#aside p {
  text-align: center;
  padding: 10px 200px 10px 0px;
}

.advice img {
  width: 250px;
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 200px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 100px 0px 100px 0px;
  background-color: #31bae0;
  color: white;
}
.footer h1 {
  letter-spacing: 2px;
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.footer,
a p {
  line-height: 30px;
}
.footer a {
  color: white;
}
.footerino {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid white;
  margin-left: 80px;
  margin-right: 80px;
}
